# --- Version Control ---
.git
.gitignore

# --- Python Junk ---
.venv
venv
ENV
env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

# --- Data & Logs ---
data/
others/
*.log
*.sqlite
*.csv

# --- IDEs & Editors ---
.vscode
.idea
.cursor
*.swp

# --- Research/Temp Files ---
terraform_samples
results/
figures/
*.pdf